body {
  position: relative;
  width: 1728px;
  height: 1117px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 121px;
}

#container {
  background-color: black;
  border-radius: 30%;
  width: 1728px;
  height: 1117px;
}

:root {
  --color-1: #C9C9C9;
  --color-2: gray;
}


.text1 {
  position: absolute;
  width: 1296px;
  height: 121px;
  left: 300px;
  top: 14px;
  color: var(--color-1);
}

.text2 {
  position: absolute;
  width: 330px;
  height: 121px;
  left: 1239px;
  top: 102px;
  color: var(--color-2);
}

.text3 {

  position: absolute;
  width: 1151px;
  height: 121px;
  left: 29px;
  top: 190px;
  color: var(--color-1);
}

.text4 {
  position: absolute;
  width: 1699px;
  height: 121px;
  left: 29px;
  top: 278px;
  color: var(--color-1);
}

.text5 {
  position: absolute;
  width: 406px;
  height: 121px;
  left: 1239px;
  top: 366px;
  color: var(--color-2);
}

.text6 {
  position: absolute;
  width: 1151px;
  height: 121px;
  left: 29px;
  top: 454px;
  color: var(--color-1);
}

.text7 {
  position: absolute;
  width: 1672px;
  height: 121px;
  left: 29px;
  top: 542px;
  color: var(--color-1);
}

.text8 {
  position: absolute;
  width: 395px;
  height: 121px;
  left: 1239px;
  top: 630px;
  color: var(--color-2);
}

.text9 {
  position: absolute;
  width: 560px;
  height: 121px;
  left: 1239px;
  top: 718px;
  color: var(--color-2);
}

.text10 {
  position: absolute;
  width: 652px;
  height: 121px;
  left: 1239px;
  top: 806px;
  color: var(--color-2);
}

.text11 {
  position: absolute;
  width: 1260px;
  height: 121px;
  left: 200px;
  top: 894px;
  color: var(--color-1);
}

.text12 {
  position: absolute;
  width: 1437px;
  height: 121px;
  left: 300px;
  top: 982px;
  color: var(--color-1);
}

body>div>div:nth-child(5):hover {
  color: red;
}
body>div>div:nth-child(2):hover {
  color: red;
}
body>div>div:nth-child(8):hover {
  color: red;
}
body>div>div:nth-child(9):hover {
  color: red;
}
body>div>div:nth-child(10):hover {
  color: red;
}

body>div>div:hover {
  color: darkslateblue;
}